apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: "in-cluster"
    namespace: glueops-core-kube-prometheus-stack
  project: glueops-core
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m0s
      limit: 5
  source:
    repoURL: 'https://prometheus-community.github.io/helm-charts'
    chart: kube-prometheus-stack
    targetRevision: 74.2.2
    helm:
      skipCrds: true
      values: |-
        # https://github.com/prometheus-operator/prometheus-operator/issues/2890#issuecomment-583006452
        coreDns:
          enabled: false
        # https://github.com/prometheus-community/helm-charts/issues/1033
        fullnameOverride: "kps"
        kubeControllerManager:
          enabled: {{ .Values.prometheus.kube_controller_manager }}
        kubeScheduler:
          enabled: {{ .Values.prometheus.kube_scheduler }}
        kubeProxy:
          enabled: {{ .Values.prometheus.kube_proxy }}
        kubeApiServer:
          enabled: {{ .Values.prometheus.kube_api_server }}
        kubelet:
          enabled: {{ .Values.prometheus.kubelet }}
        serviceMonitor:
          enabled: {{ .Values.prometheus.service_monitor }}
        kubeStateMetrics:
          enabled: {{ .Values.prometheus.kube_state_metric }}    
        nodeExporter:
          enabled: {{ .Values.prometheus.node_exporter }}    
        alertmanager:
          alertmanagerSpec:
            {{- toYaml .Values.glueops_node_and_tolerations | nindent 12 }}
            logLevel: {{ .Values.prometheus.alertmanager_log_level }}
            replicas: 2
            # This externalURL is a hack. Alertmanager will reference back to itself per the code here: https://github.com/prometheus/alertmanager/blob/v0.25.0/template/default.tmpl#L2
            # Example when alert manager renders my hack: 
            # https://grafana.{{ .Values.captain_domain }}/alerting/list
            # - Note: the captain domain does get replaced with the actual captain domain
            externalUrl: https://grafana.{{ .Values.captain_domain }}/alerting/list
        defaultRules:
          disabled:
            KubePodNotReady: true
        kube-state-metrics:
          metricLabelsAllowlist: 
            - pods=[*]  
        prometheusOperator:
          hostNetwork: {{ .Values.host_network.enabled }}
          tls:
            internalPort: {{ .Values.host_network.kube_pometheus_stack.prometheusOperator.tls.internal_port }}
          admissionWebhooks:
            deployment:
              tls:
                internalPort: {{ .Values.host_network.kube_pometheus_stack.prometheusOperator.admissionWebhooks.deployment.tls.internal_port }}
              hostNetwork: {{ .Values.host_network.enabled }}
            patch:
              {{- toYaml .Values.glueops_node_and_tolerations | nindent 14 }}
          {{- toYaml .Values.glueops_node_and_tolerations | nindent 10 }}
        prometheus: 
          enabled: true
          thanosService:
            enabled: true
          thanosServiceMonitor:
            enabled: true
          prometheusSpec:
            {{- toYaml .Values.glueops_node_and_tolerations | nindent 12 }}
            replicas: 2
            replicaExternalLabelName: "__replica__"
            resources:
              requests:
                memory: 2Gi  # Minimum request
              limits:
                memory: 4Gi 
            externalLabels:
              captain_domain: {{ .Values.captain_domain }}
            ruleSelector: {}
            ruleNamespaceSelector: {}
            ruleSelectorNilUsesHelmValues: false
            serviceMonitorSelector: {}
            serviceMonitorNamespaceSelector: {}
            serviceMonitorSelectorNilUsesHelmValues: false
            podMonitorSelector: {}
            podMonitorNamespaceSelector: {}
            podMonitorSelectorNilUsesHelmValues: false
            enableRemoteWriteReceiver: true
            disableCompaction: false
            retention: {{ .Values.prometheus.retention }}
            retentionSize: {{ .Values.prometheus.retentionSize }}
            thanos:
              baseImage: quay.io/thanos/thanos
              version: v0.38.0
              objectStorageConfig:
                secret: 
                {{- toYaml .Values.thanos.storage | nindent 18 }}
                  
            enableFeatures:
               - remote-write-receiver
            storageSpec:
              volumeClaimTemplate:
                spec:
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: {{ .Values.prometheus.volume_claim_storage_request}}Gi
            hostNetwork: {{ .Values.host_network.enabled }}
        
