# Top-level values for glueops-monitoring umbrella chart

replicaCount: 1

global:
  security:
    allowInsecureImages: true

kube-prometheus-stack:
  fullnameOverride: "kps"
  kubeStateMetrics:
    enabled: true
  prometheus:
    enabled: true
    prometheusSpec:
      replicas: 2
      retention: "15d"
      enableRemoteWriteReceiver: true
  kubelet:
    enabled: true
  grafana:
    enabled: false
    sidecar:
      datasources:
        enabled: true
        isDefaultDatasource: true
        url: http://kube-thanos-stack-query.glueops-core-kube-prometheus-stack:9090/
        name: Prometheus
        uid: prometheus

thanos:
  image:
    registry: ghcr.io
    repository: glueops/mirror/bitnami/thanos
  query:
    resources:
      requests:
        cpu: 2
        memory: 1024Mi

loki:
  grafana:
    enabled: false
  loki:
    auth_enabled: true

opentelemetry-operator:
  fullnameOverride: "otel-operator"
  replicaCount: 1
  manager:
    resources: {}

# Grafana releases (deployed as two instances: admin and dev)
grafana-admin:
  enabled: true
  fullnameOverride: "grafana-admin"
  sidecar:
    datasources:
      enabled: true
      defaultDatasourceEnabled: false
      isDefaultDatasource: true
      url: http://kube-thanos-stack-query.glueops-core-kube-prometheus-stack:9090/
      name: Prometheus
      uid: prometheus
  adminPassword: "{{ .Values.grafana.admin_password | default \"changeme\" }}"
  sidecar:
    dashboards:
      enabled: true
      label: grafana_cluster_administrator_dashboard
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          uid: prometheus
          url: http://kube-thanos-stack-query.glueops-core-kube-prometheus-stack:9090/
          isDefault: true
        - name: Loki
          type: loki
          url: http://loki-gateway.glueops-core-loki.svc.cluster.local
          jsonData:
            httpHeaderName1: "X-Scope-OrgID"
          secureJsonData:
            httpHeaderValue1: "{{ .Values.captain_domain }}"
        - name: Tempo
          type: tempo
          uid: de7lydl3hl9fkd
          url: http://grafana-tempo-query-frontend.glueops-core-tempo:3100
          jsonData:
            httpHeaderName1: "X-Scope-OrgID"
          secureJsonData:
            httpHeaderValue1: "{{ .Values.captain_domain }}"

grafana-dev:
  enabled: true
  fullnameOverride: "grafana"
  adminPassword: "{{ .Values.grafana.admin_password | default \"changeme\" }}"
  sidecar:
    dashboards:
      enabled: true
      label: grafana_developer_dashboard
    defaultDatasourceEnabled: false
    isDefaultDatasource: true
    url: http://kube-thanos-stack-query.glueops-core-kube-prometheus-stack:9090/
    name: Prometheus
    uid: prometheus
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          uid: prometheus
          url: http://kube-thanos-stack-query.glueops-core-kube-prometheus-stack:9090/
          isDefault: true
        - name: Loki
          type: loki
          url: http://loki-gateway.glueops-core-loki.svc.cluster.local
          jsonData:
            httpHeaderName1: "X-Scope-OrgID"
          secureJsonData:
            httpHeaderValue1: "{{ .Values.captain_domain }}"
        - name: Tempo
          type: tempo
          uid: de7lydl3hl9fkd
          url: http://grafana-tempo-query-frontend.glueops-core-tempo:3100
          jsonData:
            httpHeaderName1: "X-Scope-OrgID"
            nodeGraph:
              enabled: true
            serviceMap:
              datasourceUid: prometheus
            tracesToMetrics:
              datasourceUid: prometheus
          secureJsonData:
            httpHeaderValue1: "{{ .Values.captain_domain }}"

