apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryCollector
metadata:
  name: otel-collector
  namespace: glueops-core-otel
spec:
  mode: daemonset
  volumes:
   - name: varlog
     hostPath:
        path: /var/log
  volumeMounts:
    - mountPath: /var/log
      name: varlog
      readOnly: true
  config: |
      receivers:
        filelog/multilang:
          include:
            - /var/log/pods/*/*/*.log
          include_file_name: false
          include_file_path: true
          operators:
            - parse_from: attributes["log.file.path"]
              regex: /var/log/pods/(?P<namespace>[^_]+)_(?P<pod_name>[^_]+)_[^/]+/(?P<container_name>[^/]+)/[^/]+\.log
              type: regex_parser
            - from: attributes["namespace"]
              to: attributes["k8s.namespace.name"]
              type: copy
            - from: attributes["pod_name"]
              to: resource["k8s.pod.name"]
              type: copy
            - from: attributes["container_name"]
              to: resource["k8s.container.name"]
              type: copy
            - parse_from: attributes["pod_name"]
              regex: ^(?P<service_prefix>.+?)(-[0-9a-f]{9,}(-[a-z0-9]{4,})?|-[0-9]+|-[a-z0-9]{4,6})?$
              type: regex_parser
            - from: attributes["service_prefix"]
              to: resource["service.name"]
              type: copy
          poll_interval: 200ms
          start_at: end
        otlp:
          protocols:
            grpc:
              endpoint: 0.0.0.0:4317
            http:
              cors:
                allowed_origins:
                  - http://*
                  - https://*
              endpoint: 0.0.0.0:4318
      exporters:
        otlphttp/loki:
          headers:
            X-Scope-OrgID: nonprod.gliese667cc.onglueops.rocks
          logs_endpoint: http://loki-write-headless.glueops-core-loki:3100/otlp/v1/logs
        otlp/trace:
          headers:
            X-Scope-OrgID: nonprod.gliese667cc.onglueops.rocks
          endpoint: grafana-tempo-distributor.glueops-core-tempo:4317
          tls:
            insecure: true
        otlphttp/trace:
          headers:
            X-Scope-OrgID: nonprod.gliese667cc.onglueops.rocks
          endpoint: http://grafana-tempo-distributor.glueops-core-tempo:4318
          tls:
            insecure: true
        prometheusremotewrite:
          endpoint: http://kps-prometheus.glueops-core-kube-prometheus-stack:9090/api/v1/write
          target_info:
            enabled: true
      processors:
        batch:
          send_batch_max_size: 50
          send_batch_size: 50
          timeout: 10s
        memory_limiter:
          check_interval: 1s
          limit_percentage: 90
          spike_limit_percentage: 20
        resource:
          attributes:
            - action: insert
              from_attribute: service.name
              key: service.name
            - action: insert
              key: loki.resource.labels
              value: container, pod
            - action: insert
              from_attribute: k8s.container.name
              key: container
            - action: insert
              from_attribute: k8s.pod.name
              key: pod
      connectors:
        spanmetrics:
          aggregation_temporality: AGGREGATION_TEMPORALITY_CUMULATIVE
          dimensions:
            - default: GET
              name: http.method
            - name: http.status_code
            - name: http.target
            - name: net.peer.ip
            - name: http.client_ip
          dimensions_cache_size: 1000
          exemplars:
            enabled: true
          metrics_expiration: 5m
          metrics_flush_interval: 15s
          namespace: span.metrics
          resource_metrics_key_attributes:
            - service.name
            - telemetry.sdk.language
            - telemetry.sdk.name
      service:
        telemetry:
          metrics:
            address: 0.0.0.0:8888
        pipelines:
          logs:
            exporters:
              - otlphttp/loki
            receivers:
              - otlp
              - filelog/multilang
          metrics:
            exporters:
              - prometheusremotewrite
            receivers:
              - spanmetrics
          traces:
            exporters:
              - otlp/trace
              - otlphttp/trace
              - spanmetrics
            receivers:
              - otlp

---
apiVersion: opentelemetry.io/v1alpha1
kind: Instrumentation
metadata:
  name: glueops-instrumentation
  namespace: glueops-core
spec:
  exporter:
    endpoint: http://otel-collector-collector.glueops-core-otel.svc.cluster.local:4317
  propagators:
    - tracecontext
    - baggage
    - b3
  sampler:
    type: parentbased_always_on